<?xml version="1.0"?>
<launch>

  <arg name="nonstop"   default="false" doc="Run the full example without pausing between assembly steps." />
  <arg name="with_assembly_manager"   default="true" doc="Run the example with/without a running assembly_manager." />
  <param name="use_sim_time" value="true" />

  <node pkg="assembly_example" name="assembly_screw" type="assembly_screw" output="screen">
    <param name="nonstop" type="bool"  value="$(arg nonstop)" />
    <param name="with_assembly_manager" type="bool"  value="$(arg with_assembly_manager)" />
  </node>

</launch>